body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    background: url(https://wallpapercave.com/wp/wp2640130.jpg) no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.left-side {
    flex: 1;
    background: url(/images\signupbg.jpeg) no-repeat center center/cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side h1 {
    font-size: 2.5em;
    margin: 0;
}

.left-side p {
    font-size: 1.2em;
}

.right-side {
    flex: 1;
    background-color: #1a1a1a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.member {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: #007bff;
}

.member:hover {
    text-decoration: underline;
}